.raw{
    display: none !important;
}
.asset-banner{
    display: none;
}
.asset-introduction-box {
  position: inherit !important;
   right: 0 !important; 
  bottom: 0;
  top: 0;
  left: 0 !important;
  padding: 20px;
  border-left: none !important;
  border-bottom: none !important;
}
.nav-tabs {
  border-bottom: none !important;
}

.asset-introduction-box small {
  display: inline-table !important;
}
