<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{include title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
     <link href="{{url "/themes/store/css/bootstrap.css"}}" rel="stylesheet">
    <link rel="stylesheet" media="screen and (min-width: 320px) and (max-width: 359px)" href="{{url "/themes/store/css/boostrap320.css"}}" >
     <link rel="stylesheet" media="screen and (min-width: 320px) and (max-width: 359px)" href="{{url "/themes/store/css/styles320.css"}}" >
    
    <link rel="stylesheet" media="screen and (min-width: 360px) and (max-width: 500px)" href="{{url "/themes/store/css/boostrap375.css"}}" >
     <link rel="stylesheet" media="screen and (min-width: 360px) and (max-width: 500px)" href="{{url "/themes/store/css/styles375.css"}}" >
    
     <link rel="stylesheet" media="screen and (min-width: 901px) and (max-width: 1024px)" href="{{url "/themes/store/css/styles.css"}}" >
     <link rel="stylesheet" media="screen and (min-width: 1025px) " href="{{url "/themes/store/css/styles.css"}}" >
    
    <link rel="stylesheet" media="screen and (min-width: 501px) and (max-width: 767px)" href="{{url "/themes/store/css/bootstrap375.css"}}" >
     <link rel="stylesheet" media="screen and (min-width: 501px) and (max-width: 767px)" href="{{url "/themes/store/css/styles375.css"}}" >
    
    <link rel="stylesheet" media="screen and (min-width: 768px) and (max-width: 900px)" href="{{url "/themes/store/css/styles768.css"}}" >
    <link rel="stylesheet" media="screen and (min-width: 768px) and (max-width: 900px)" href="{{url "/themes/store/css/bootstrap768.css"}}" >
    

    <link href="{{url "/themes/store/css/bootstrap-responsive.css"}}" rel="stylesheet">
    <link href="{{url "/themes/store/css/font-awesome.min.css"}}" rel="stylesheet">
    <link href="{{url "/themes/store/css/font-awesome-ie7.min.css"}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url "/themes/store/css/jslider.css"}}" type="text/css">
    <link rel="stylesheet" href="{{url "/themes/store/css/jslider.round.plastic.css"}}" type="text/css">
     <link href="{{url "/extensions/assets/mobileapp/themes/store/css/mobileapps.css"}}" rel="stylesheet">
    <!--<link href="{{url "/themes/store/css/styles.css"}}" rel="stylesheet">-->
    {{css}}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{url "/themes/store/js/respond.min.js"}}"></script>
     <script src="{{url "/themes/store/js/selectivizr-min.js"}}"></script>
      <link rel="stylesheet" href="{{url "/themes/store/css/ie.css"}}" type="text/css">
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{url "/themes/store/favicon.ico"}}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{url "/themes/store/img/apple-touch-icon-144-precomposed.png"}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{url "/themes/store/img/apple-touch-icon-114-precomposed.png"}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{url "/themes/store/img/apple-touch-icon-72-precomposed.png"}}">
    <link rel="apple-touch-icon-precomposed" href="{{url "/themes/store/img/apple-touch-icon-57-precomposed.png"}}">
</head>

<body>
{{include header}}
{{include navigation}}  
<div id="container-assets" class="container">

    <div class="row">
        <div class="span12">
          
            {{include body}}
        </div>       

    </div>
    {{>footer}}
</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{url "/themes/store/js/jquery-1.8.3.min.js"}}"></script>
<script src="{{url "/themes/store/js/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/store/js/bootstrap-tooltip.js"}}"></script>
<script src="{{url "/themes/store/js/bootstrap-popover.js"}}"></script>
<script src="{{url "/themes/store/js/async.min.js"}}"></script>
<script src="{{url "/themes/store/js/handlebars.js"}}"></script>
<script src="{{url "/themes/store/js/theme.js"}}"></script>
<script src="{{url "/themes/store/js/jquery.history.js"}}"></script>
<script src="{{url "/themes/store/js/history-fix.js"}}"></script>
<script src="{{url "/themes/store/js/jquery.event.mousestop.js"}}"></script>
    {{js}}
    {{code}}
<script src="{{url "/themes/store/js/caramel.handlebars.client.js"}}"></script>
<script src="{{url "/themes/store/js/caramel-client.js"}}"></script>

<script src="{{url "/extensions/assets/mobileapp/themes/store/assets/noty/jquery.noty.js"}}"></script>
<script src="{{url "/extensions/assets/mobileapp/themes/store/assets/noty/layouts/center.js"}}"></script>
<script src="{{url "/extensions/assets/mobileapp/themes/store/assets/noty/themes/default.js"}}"></script>


<script>
$.noty.defaults = {
	layout: 'center',
	theme: 'defaultTheme',
	type: 'alert',
	text: '',	
	dismissQueue: true, // If you want to use queue feature set this true
	template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
	animation: {
		open: {height: 'toggle'},
		close: {height: 'toggle'},
		easing: 'swing',
		speed: 100 // opening & closing animation speed
	},
	timeout: 1000, // delay for closing event. Set false for sticky notifications
	force: false, // adds notification to the beginning of queue when set to true
	modal: true,
	closeWith: ['click'], // ['click', 'button', 'hover']
	callback: {
		onShow: function() {},
		afterShow: function() {},
		onClose: function() {},
		afterClose: function() {}
	},
	buttons: false // an array of buttons
};
	
</script>


</body>
</html>