{{#if popularAssets}}
    <div id="asset-slideshow-cont">
        <div class="html_carousel">
            <div id="asset-slideshow">
                {{#each popularAssets}}
                    <div class="slide">
                        {{#attributes}}
                            <div class="asset-banner">
                                <img src="{{images_banner}}">
                            </div>
                        	<div class="asset-intro-box">
                            	<div><img src="{{images_thumbnail}}"></div>
                            	<div class="asset-intro-inner">
	                            	<h3><span>{{overview_name}}</span>
	                               		<small>{{overview_version}}</small>
	                            	</h3>
	                            	<div class="star-rating">
										<div class="asset-rating">
				                            <div class="asset-rating-{{../rating/average}}star">
				
				                            </div>
				                        </div>
										<small> by {{overview_provider}} </small>
									</div>
                            	</div>
							
								<a data-type="gadget" class="btn btn-primary" id="btn-add-gadget"
                           href="{{url "/assets"}}/{{../type}}/{{../id}}">View</a>
							</div>
                        {{/attributes}}

                    </div>
				{{/each}}
            </div>

            <div class="clearfix"></div>
            <a class="prev" id="asset-slideshow-prev" href="#"><span>prev</span></a>
            <a class="next" id="asset-slideshow-next" href="#"><span>next</span></a>

            <div class="pagination" id="asset-slideshow-pag"></div>

        </div>
    </div>
    <div id="slideshow-clearfix"></div>
{{/if}}

{{#each assets}}
    <div class="assets-container">
        <h3 class="asset-type-default asset-title-separator asset-type-{{type}}"><span>Recent {{plural}}</span>

            <div class="pagination top-asset-slideshow-pag" id="top-asset-slideshow-pag-{{type}}"></div>
        </h3>

        <div class="top-asset-slideshow-cont">
            <div class="html_carousel">
                <div id="top-asset-slideshow-{{type}}">
                    {{#if assets}}
                        {{#each assets}}
                            {{#attributes}}
                                <div class="slide asset" data-id="{{../id}}" data-type="{{../type}}">
                                    <a href="#">
                                        <div class="asset-icon">
                                            {{#if ../indashboard}}
                                                <i class="icon-mobile-phone store-mobileapp-icon"></i>
                                            {{/if}}
                                            <a href="{{url "/assets"}}/{{../type}}/{{../id}}"><img
                                                    src="{{#if images_thumbnail}}{{images_thumbnail}}{{/if}}"></a>
                                        </div>
                                    </a>

                                    <div class="asset-details">
                            <div class="pull-right">						
                                <img src="{{url "/extensions/assets/mobileapp/themes/store/img/"}}{{overview_platform}}.png" style="width: 30px;"/>
                            </div>
                                        <div class="asset-name">
                                            <a href="{{url "/assets"}}/{{../type}}/{{../id}}"><h4>{{overview_name}}</h4>
                                            </a>
                                        </div>
                                        <div class="asset-rating">
                                            <div class="asset-rating-{{../rating/average}}star">

                                            </div>
                                        </div>
                                        <div class="asset-author-category">
                                            <ul>
                                                <li>
                                                    <h4>{{t "Category"}}</h4>
                                                    <a class="asset-category" href="#">{{../../singular}}</a>
                                                </li>
                                                <li>
                                                    <h4>{{t "Author"}}</h4>
                                                    <a class="asset-author" href="#">{{overview_provider}}</a>
                                                </li>

                                            </ul>
                                            {{#dyn asset=../type}}
                                                {{#mergeContext ssoParam=../../../../../sso userParam=../../../../../user thisAsset=../../this}}
                                                    {{>top-asset-utilization}}
                                                {{/mergeContext}}
                                            {{/dyn}}
                                        </div>
                                    </div>
                                </div>
                            {{/attributes}}
                        {{/each}}
                    {{else}}
                        <div class="top-assets-empty-assert">{{t "We couldn't find anything for you."}}</div>
                    {{/if}}
                </div>
                <div class="clearfix"></div>

            </div>

        </div>
    </div>
{{/each}}

